@import "bourbon"
@import "_vars.sass"
@import "_mixins.sass"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-mnu
		position: none
		display: none
		float: right
		min-width: 100%
		text-align: center
		background-color: $accent-color
		top: 74px
		position: relative
		border-bottom: $accent-color 4px solid
		position: absolute
		right: 0
		z-index: 2
		ul
			li
				display: block
				line-height: 0
				padding: 0
				&.active
					display: none
					a
						background-color: #273646
						text-decoration: none
						font-family: "RalewayBold", $helvetica
			a
				display: block
				line-height: 58px
				padding: 0 20px
				background-color: transparent
				font-size: em(20px)
				text-transform: uppercase
				transition: all .1s ease
				border-bottom: #222C36 1px solid
				&:hover
					background-color: #2e2a2b
					color: #fff
					text-decoration: none

	.feature-mnu
		min-width: 100%
		border-radius: none
		ul
			border: none!important
			border-radius: 0px 0px 0px 0px!important
			li
				display: block!important
				padding: 0
				margin: 0!important
				line-height: 0
				border-right: none!important
				border-radius: 0px
				min-width: 100%
				border-bottom: 1px solid #dbd8d8
				&:first-child
					border-radius: 0px 0px 0px 0px!important
				&:last-child
					border-radius: 0px 0px 0px 0px!important

	.rgt
		display: none

	.slider-wrap

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.mobile-mnu-wrap
		.toggle-mnu
			line-height: 52px
			margin-top: 22px

	.main-mnu
		ul
			a
				line-height: 58px
				font-size: em(20px)
				font-family: 'Exo 2', sans-serif

	.homesec
		padding-bottom: 0
		.section-content
		  padding-top: 20px

	.featuresec
		.section-content
			.features-item
				.features-content-bottom
					bottom: -100px

	.featuresec
		.feature-mnu
			display: none

	.teamsec
		.section-content
			padding: 0

	.joinsec
		.section-content
			h1
				font-size: em(35px)
			.join-right
				.join-notice
					a
						&.btn
							width: 100%

	.contactsec
		.contact-info
			min-height: 510px
			h2
				text-align: center
				font-size: em(35px)
			.contact-text
				text-align: center
		.contact-map
			#map-canvas
				min-height: 510px

	.main-footer
		h3
			text-align: center
		p
			max-width: 100%
			text-align: center
		.footer-rgt-logo
			img
				max-width: 80%

	.footer-social-links
		text-align: center

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.mobile-mnu-wrap
		.toggle-mnu
			line-height: 52px
			margin-top: 22px
	.featuresec
		.section-content
			.features-item
				.features-content-bottom
					bottom: -80px
	.joinsec
		.section-content
			h1
				font-size: em(35px)
			a
				&.btn
					width: 100%

	.main-footer
		.footer-rgt-logo
			display: none

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.main-mnu
		top: 52px
		ul
			a
				line-height: 42px
				font-size: em(15px)
				font-family: 'Exo 2', sans-serif

	.mobile-mnu-wrap
		.toggle-mnu
			line-height: 52px
			margin-top: 12px

	.toggle-mnu span,
	.toggle-mnu span:after,
	.toggle-mnu span:before
		width: 25px
		height: 2px
		background-color: #fff
		transition: all 0.1s
		backface-visibility: hidden
		border-radius: 2px

	.logo
	  img
	    width: 106px

	.lft
	  position: absolute
	  padding: 8px 19px
	  width: 150px
	  height: 52px
	  background-color: $accent-color
	  margin-right: 150px
	  left: 0

	  &::after
	    content: ""
	    position: absolute

	  &.arrow-right::after
	    +arrow(right, 1.05em, 0.5em, $accent-color)
	    top: 50%
	    right: -7px
	    margin-top: -.50em

	.main-mnu-bg
	  min-height: 52px

	.slider-wrap
		.slider-nav
			div
	      cursor: pointer
	      position: absolute
	      top: 250px
	      &:last-child
	        right: 0
		//margin-top: 50px
		margin: 0
		h1
			font-size: em(25px)
			letter-spacing: 4px
		h3
			font-size: em(15px)
		.btn
			font-size: em(12px)
			padding: 5px 40px

			&.header-btn
				width: 210px

		.slider
			.owl-dots
		    position: absolute
		    bottom: 120px
		    width: 100%
		    text-align: center
			.slide
				padding-top: 110px

	.button-wrap
		margin-top: 30px

	.slider-nav
		.prev
			position: relative
			width: 14px
			height: 30px
			background: url('../img/arrow-left-small.png') no-repeat
			&:hover
				width: 14px
				height: 30px
				background: url('../img/arrow-left-small_h.png') no-repeat
		.next
			position: relative
			width: 14px
			height: 30px
			background: url('../img/arrow-right-small.png') no-repeat
			&:hover
				width: 14px
				height: 30px
				background: url('../img/arrow-right-small_h.png') no-repeat

	.homesec
		.section-head
			margin-bottom: 25px
			p
				font-size: em(15px)
			h2
				font-size: em(27px)
				&::before
					width: 165px
				&::after
					width: 45px
		.section-content
		  padding-top: 0

	.projectsec
		position: relative
		margin: 0
		.project-left
			min-height: 210px
			background-color: #a8a8a8
			.project-item
				overflow: hidden
				.project-overlay
					.project-image
						min-height: 210px
						width: auto!important
						background-size: auto 300px
						background-position: center
						background-repeat: no-repeat
						position: relative
						display: block
						transition: all .5s ease
						&::before
							content: ''
							width: 100%
							height: 100%
							position: absolute
							left: 0
							top: 0
							opacity: .0
							transition: all .5s ease
							background-color: $accent-color
					.project-buttons
						position: absolute
						width: 100%
						top: 42%
						left: 50%
						transform: translate(-50%, 0)
						opacity: .0
						transition: all .5s ease
						.i-zoom
							position: relative
							+icon(magnifer,png)
							background-size: 22px
							width: 31px
							height: 30px
							top: -27%
							left: 14%
							display: inline-block
						.i-link
							position: relative
							+icon(link,png)
							background-size: 22px
							width: 31px
							height: 30px
							top: -27%
							left: 14%
							display: inline-block

						.project-icon
							width: 43px
							height: 42px

		.project-right
			&::after
				content: none

			.project-content
				padding-top: 39px
				position: relative
				.project-detail
					padding: 0 33px 30px
					h1
						font-size: em(26px)
						font-family: 'Exo 2', sans-serif
						font-weight: normal
						span
							color: $accent-color
					h3
						font-size: em(18px)
						font-family: 'Exo 2', sans-serif
						text-transform: none
						color: #3a3a3a
						margin-top: -18px
					p
						font-size: em(15px)
						line-height: em(23px)
						font-family: 'Open Sans', sans-serif
						font-weight: 300
						max-width: 485px
						min-height: 100%
						word-break: break-all
						white-space: normal
						overflow: hidden
						color: #fff
						margin: 0 0 2em
					a
						text-align: center
						text-decoration: none
						color: #fff!important
						font-weight: 300!important
						margin-top: 20px
						&.btn
							font-family: 'Exo 2', sans-serif
							min-width: 130px
							height: auto
							+button-bg($accent-color)

	.featuresec
		.section-head
			h2
				font-size: em(35px)
				&::before
					width: 268px
		.mobile-feature-mnu
			margin: 0 10px 10px
			.fa
				font-size: em(35px)
				color: $accent-color
				&.fa-sort-up
					position: relative
					top: 16px

			.mnu-toggle-text
				font-size: em(24px)
				font-family: "Exo 2", sans-serif
				margin-right: 10px
		.feature-mnu
			display: none
			ul
				li
					a
						font-size: em(14px)
		.section-content
			.features-item
				.features-content-bottom
					bottom: -100px

	.teamsec
		.section-head
			h2
				font-size: em(35px)
				&::before
					width: 218px
			p
			  font-size: em(14px)
		.section-content
			padding: 0

	.joinsec
		.section-content
			h1
				font-size: em(30px)
			a
				&.btn
					width: 100%
			.join-left
				.join-notice
					li
						p
							font-size: em(14px)
			.join-right
				.join-notice
					p
						font-size: em(14px)

	.brandsec
		.section-head
			h2
				font-size: em(35px)

	.contactsec
		.contact-info
			min-height: 510px
			h2
				text-align: center
				font-size: em(35px)
			.contact-text
				text-align: center

  .main-footer
		h3
			text-align: center
		p
			text-align: center
		.footer-rgt-logo
			display: none

	.footer-social-links
		text-align: center
		a
			img
				max-width: 45px!important

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.mobile-mnu-wrap
		.toggle-mnu
			line-height: 52px
			margin-top: 22px

	.featuresec
		.feature-mnu
			display: none

	.joinsec
		.section-content
			h1
				font-size: em(35px)
			.join-right
				.join-notice
					a
						&.btn
							width: 100%

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.main-mnu
		display: block !important

	.mobile-feature-mnu
		display: none

	.rgt
		display: block !important

	.featuresec
		.section-content
			.features-item
				.features-content-bottom
					bottom: -100px

	.featuresec
		.feature-mnu
			display: inline-block!important
