@import "bourbon"
@import "_vars.sass"
@import "_mixins.sass"
@import fonts.sass
@import "app/libs/owl.carousel/dist/assets/owl.carousel.min"

body
	font-size: em(25px)
	min-width: 320px
	position: relative
	line-height: em(22px)
	overflow-x: hidden
	color: #333

.hidden
	display: none

a, a:hover, a:focus,  a:active
	color: $main-color
	text-decoration: underline
	outline: none

.headers
	font-family: "PFCentroSlabProMedium", $helvetica
	text-transform: uppercase
	font-weight: normal
	color: #fff

h1, h2, h3, h4, h5, h6
	@extend .headers
	line-height: em(22px)

h1
	font-size: em(50px)

h2
	font-size: em(32px)

h3
	font-size: em(26px)

b, strong
	font-family: "RalewayBold", $helvetica
	font-weight: normal

.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center


.before
	content: ''
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0

.ulmnu
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block

// .main-head
// 	padding-top: 0
// 	min-height: 866px
// 	padding-bottom: 120px
// 	h1
// 		text-transform: none
// 		line-height: em(18px)

.logo
  img
    width: 166px

.lft
  position: absolute
  padding: 8px 19px
  width: 213px
  height: 72px
  background-color: $accent-color
  margin-right: 150px
  left: 0

  &::after
    content: ""
    position: absolute

  &.arrow-right::after
    +arrow(right, 1.95em, 0.9em, $accent-color)
    top: 50%
    right: -13px
    margin-top: -.75em

.lft
	border-left: 3px solid #eeeded

.rgt
  position: absolute
  width: 88px
  height: 72px
  background-color: #eeeded
  right: 0

  &::after
    content: ""
    position: absolute

  &.arrow-left::after
    +arrow(left, 1.95em, 0.9em, #eeeded)
    top: 50%
    right: 100%
    margin-top: -.75em

  .fa
    font-size: em(25px)
    color: #2e2a2b
		text-align: center
		padding-top: 25%

.rgt
	border-right: 3px solid #2e2a2b

.mobile-mnu-wrap
	position: relative
	.toggle-mnu
		position: absolute
		right: 10px
		top: 0
		text-align: center
		line-height: 48px



.toggle-mnu
	display: block
	width: 28px
	height: 28px
	margin-top: 14px

.toggle-mnu span:after,
.toggle-mnu span:before
	content: ""
	position: absolute
	left: 0
	top: 9px

.toggle-mnu span:after
	top: 18px

.toggle-mnu span
	position: relative
	display: block

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before
	width: 100%
	height: 2px
	background-color: #fff
	transition: all 0.3s
	backface-visibility: hidden
	border-radius: 2px


.toggle-mnu.on span
	background-color: transparent

.toggle-mnu.on span:before
	transform: rotate(45deg) translate(-1px, 0px)

.toggle-mnu.on span:after
	transform: rotate(-45deg) translate(6px, -7px)

.toggle-mnu.on + #menu
	opacity: 1
	visibility: visible

.top-nav
	position: absolute
	width: 100%
	z-index: 1

.main-mnu
	font-size: em(17px)
	font-family: "Exo 2", sans-serif
	li
		line-height: 72px
		padding: 0	12px
		&.active
			a
				&:hover
					&::after
						width: 0
			a
        +button-bg($accent-color)
        text-decoration: none
        width: 108px
        height: 36px
        padding: 6px 27px
        border-radius: 4px
        &:hover
          color: #e4e0e0
		a
			position: relative
			transition: all .5s ease
			&::after
				content: ''
				position: absolute
				width: 0
				height: 1px
				bottom: -2px
				left: 0
				background-color: $accent-color
				transition: 0.5s ease

			&:hover
				color: $accent-color
				text-decoration: none
				&::after
					width: 100%
	ul
		@extend .ulmnu
	a
		text-decoration: none
		color: #e4e0e0

.main-mnu-bg
  background-color: #2e2a2b
  border-bottom: 2px solid $accent-color
  min-height: 72px

.btn
	font-family: 'Exo 2', sans-serif
	font-weight: 700!important

.btn
  cursor: pointer
  display: inline-block
  width: auto
  border-radius: 4px
  text-transform: none
  color: #292929!important
  font-size: em(17px)
  font-weight: normal
  text-decoration: none
  letter-spacing: 0
  transition: all 200ms ease-in-out
  padding: 15px 40px

  &.header-btn
    width: 240px
    +button-bg(#eeeded)
    margin: 10px 13px
    text-align: center
    &.accent
      color: #fff!important
      +button-bg($accent-color)

.slide-bg
	min-height: 900px

.slider-wrap
  text-align: center

  h1
    font-size: em(38px)
    font-family: 'Exo2Bold', sans-serif
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 5px
    color: #f7f6f6
    span
      color: $accent-color
  h3
    font-size: em(24px)
    font-family: 'Open Sans', sans-serif
    line-height: 33px
    text-transform: none
    color: #dddddd
		p
			margin: 0

.button-wrap
  margin-top: 115px
  text-align: center
  a
    &:hover
      text-decoration: none

.slider-wrap
  position: relative
  .slider-nav-container
    position: relative

.slider-wrap
  display: none
  .slider-nav
    color: #fff
    font-size: 36px
    position: absolute
    width: 100%
    z-index: 2
    div
      cursor: pointer
      position: absolute
      top: 400px
      &:last-child
        right: 0
		.prev
			position: relative
			width: 31px
			height: 66px
			background: url('../img/arrow-left.png') no-repeat
			&:hover
				width: 31px
				height: 66px
				background: url('../img/arrow-left_h.png') no-repeat
		.next
			position: relative
			width: 31px
			height: 66px
			background: url('../img/arrow-right.png') no-repeat
			&:hover
				width: 31px
				height: 66px
				background: url('../img/arrow-right_h.png') no-repeat

.owl-carousel
  .owl-wrapper, .slide-wrap
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    -ms-backface-visibility: hidden
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)

.owl-dot
	border: 1px solid #fff
	&.active
		border: none!important

.slide-bg
	background-position: center
.slide-content
	min-height: 500px

.slider
  top: 0
  width: 100%
  overflow: hidden
  .owl-dots
    position: absolute
    bottom: 50px
    width: 100%
    text-align: center
    .owl-dot
      display: inline-block
      margin: 0 3px
      width: 14px
      height: 14px
      background-color: #7b5058
      -webkit-border-radius: 10em
      border-radius: 10em
      cursor: pointer
      -webkit-transition: background-color .25s ease
      transition: background-color .25s ease
      &.active
        background-color: $accent-color
				border: none!important
				&:hover
					transition: background-color 1s
  .slide-wrap
    float: left
    &.active
      h1
        opacity: 1
        left: 0
      p
        left: 0
        opacity: 1
      .slide-img-wrap
        opacity: 1
        -webkit-transform: scale(1)
        -ms-transform: scale(1)
        transform: scale(1)
  .slide
    color: #fff
    padding-bottom: 120px
    position: relative
    padding-top: 265px
    p
      margin: 0
      position: relative
      left: 140px
      opacity: 0
      -webkit-transition: all 1.5s ease
      transition: all 1.5s ease
      -webkit-transition-delay: .15s
      transition-delay: .15s
		h1
			position: relative
			left: 50px
			opacity: 0
			margin: 0
			transition: all 1.5s ease
			transition-delay: .15s
  .slide-bg
    position: absolute
    background-size: cover
    top: 0
    left: 0
    right: 0
    bottom: 0
		.slide-bg::before
			@extend .before
			background-color: #2e2a2b
			opacity: 0.8

  .slide-content
    position: relative
    z-index: 1

.slide-img-wrap
  padding-top: 12px
  opacity: 0
  -webkit-transform: scale(0.8)
  -ms-transform: scale(0.8)
  transform: scale(0.8)
  -webkit-transition: all 1s
  transition: all 1s
  -webkit-transition-delay: .25s
  transition-delay: .25s
