@import "bourbon"
@import "_vars.sass"
@import "_mixins.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.before
	content: ''
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0

.ulmnu
	list-style-type: none
	margin: 0
	padding: 0
	background-color: #f6f6f6
	border: 1px solid #dbd8d8
	border-radius: 4px
	li
		display: inline-block
		margin-left: -4px

.serv-icon
	position: absolute
	width: 50px
	height: 50px
	top: 25%
	left: 50%
	transform: translate(-50%, 0)

.section-bottom
	padding: 97px 0


.homesec
	padding-top: 72px
	background-color: #f6f6f6!important
	.section-head
		margin-bottom: 82px
		p
			margin-top: 50px
			text-align: center
			font-size: em(18px)
			font-family: 'Open Sans',sans-serif
			line-height: em(28px)
			color: #a1a1a1
			margin: 0
		h2
			font-size: em(44px)
			font-family: "Exo 2", sans-serif
			font-weight: 700
			text-align: center
			text-transform: none
			letter-spacing: 2px
			color: #292929
			position: relative
			&::before
				position: absolute
				content: ''
				height: 4px
				background-color: #fefefe
				width: 365px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			&::after
				position: absolute
				content: ''
				height: 4px
				background-color: $accent-color
				width: 45px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			span
				color: $accent-color

	.section-content
		.services-block
			min-width: 230px
			min-height: 370px
			background-color: #e9e9e9
			border-top: 1px solid $services-block-border-color
			border-left: 1px solid $services-block-border-color
			border-right: 1px solid $services-block-border-color
			border-bottom: 2px solid $services-block-border-color
			border-bottom-left-radius: 0.5em
			border-bottom-right-radius: 0.5em
			margin-bottom: 25px
			&:hover
				background-color: #fff!important
				.service-icon-wrap
					min-height: 170px
					background-color: #e9e9e9!important
					&.arrow-bottom::after
					  +arrow(bottom, 1.95em, 0.9em, #e9e9e9)
					.service-icon
						background-color: $accent-color!important
						box-shadow: 0 0 0 3px #fff!important
						transition: all .5s ease
						border-radius: 5em
						.i-browser
							+icon(browser,png,-50px)
							@extend .serv-icon
						.i-quill
							+icon(quill,png,-50px)
							@extend .serv-icon
						.i-computer
							+icon(computer,png,-50px)
							@extend .serv-icon
						.i-nib
							+icon(nib,png,-50px)
							@extend .serv-icon
				h3
					color: $accent-color!important
					transition: all .5s ease

				.service-content
					.btn
						background-color: $accent-color!important
						color: #fff!important


			.service-icon-wrap
				position: relative
				display: block
				min-height: 160px
				background-color: #fff!important
				text-align: center
				transition: all .5s ease

				&::after
					content: ''
					width: 100%
					height: 100%
					position: absolute
					left: 0
					top: 0
				&.arrow-bottom::after
			    +arrow(bottom, 1.95em, 0.9em, #fff)
			    top: 100%
			    left: 50%
			    transform: translateX(-50%)

				.service-icon
					position: absolute
					width: 100px
					height: 100px
					line-height: 100px
					background-color: #e9e9e9
					border: 3px solid #fff!important
					border-radius: 10em
					display: inline-block
					top: 20%
          left: 50%
					transform: translate(-50%, 0)

					.i-browser
						+icon(browser,png)
						@extend .serv-icon
						// &:hover
						// +icon(browser,png,-50px)
					.i-quill
						+icon(quill,png)
						@extend .serv-icon
					.i-computer
						+icon(computer,png)
						@extend .serv-icon
					.i-nib
						+icon(nib,png)
						@extend .serv-icon

		.service-content
			text-align: center
			margin: 0
			p
				font-size: em(14px)
				font-family: 'Open Sans', sans-serif
				height: auto
				color: #a1a1a1
				margin-top: -15px
			h3
				font-family: 'Open Sans', sans-serif
				font-weight: bold
				line-height: em(22px)
				text-transform: none
				color: #292929
			a
				text-decoration: none
				color: #a3a3a3!important
				font-weight: normal
				margin-top: 20px
				&.btn
					font-family: 'Exo 2', sans-serif
					min-width: 130px
					height: auto
					+button-bg(#fff)
					border: 1px solid #d7d5d5
					padding: 8px 0 10px
					&:hover
						background-color: $accent-color
						color: #fff!important

	@extend .section-bottom

.no-padding
  padding: 0 !important

.projectsec
	position: relative
	margin: 0
	.project-left
		min-height: 415px
		background-color: #a8a8a8
		.project-item
			overflow: hidden
			.project-overlay
				&:hover
					.project-image
						transition: all .3s ease-in-out
						transform: scale(1.1)
						&::before
							opacity: .3
					.project-icon
						margin: 0 12px
						opacity: 1.1
						transition: all .5s ease
					.project-buttons
						opacity: 1.1
						transition: all .5s ease
						.i-zoom, .i-link
							opacity: .7
							transition: all .5s ease
				.project-image
					min-height: 415px
					height: 100%
					width: auto!important
					background-size: cover
					background-position: center
					position: relative
					display: block
					transition: all .3s ease-in-out
					&::before
						content: ''
						width: 100%
						height: 100%
						position: absolute
						left: 0
						top: 0
						opacity: .0
						transition: all .3s ease-in-out
						background-color: $accent-color
				.project-buttons
					position: absolute
					width: 100%
					top: 40%
					left: 50%
					transform: translate(-50%, 0)
					opacity: .0
					transition: all .5s ease
					.i-zoom
						+icon(magnifer,png)
						width: 31px
						height: 30px
						display: inline-block
						vertical-align: middle
					.i-link
						+icon(link,png)
						width: 31px
						height: 30px
						display: inline-block
						vertical-align: middle

					.project-icon
						width: 73px
						height: 72px
						line-height: 65px
						background-color: #e9e9e9
						border-radius: 10em
						display: inline-block
						transition: all .5s ease

	.project-right
		min-height: 415px
		background-color: #202020
		&::after
			+arrow(left, 1.95em, 1.35em, $services-arrow-color)
			position: absolute
			margin-top: -.75em
			top: 81px
			left: -21px
			content: ''

		.project-content
			padding-top: 39px
			position: relative
			.project-detail
				padding: 0 33px 30px
				h1
					font-size: em(32px)
					font-family: 'Exo 2', sans-serif
					font-weight: normal
					span
						color: $accent-color
				h3
					font-family: 'Exo 2', sans-serif
					text-transform: none
					color: #3a3a3a
					margin-top: -18px
				p
					font-size: em(15px)
					line-height: em(23px)
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					max-width: 485px
					min-height: 100%
					word-break: break-all
					white-space: normal
					overflow: hidden
					color: #fff
					margin: 0 0 2em
				a
					text-align: center
					text-decoration: none
					color: #fff!important
					font-weight: 300!important
					margin-top: 20px
					&.btn
						font-family: 'Exo 2', sans-serif
						min-width: 130px
						height: auto
						+button-bg($accent-color)

.featuresec
	padding-top: 72px
	background-color: #fff!important
	.section-head
		//margin-bottom: 35px
		h2
			font-size: em(44px)
			font-family: "Exo 2", sans-serif
			font-weight: 700
			text-align: center
			text-transform: none
			letter-spacing: 2px
			color: #292929
			position: relative
			&::before
				position: absolute
				content: ''
				height: 4px
				background-color: #f6f6f6
				width: 390px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			&::after
				position: absolute
				content: ''
				height: 4px
				background-color: $accent-color
				width: 45px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			span
				color: $accent-color

	.section-content
		.features-item
			position: relative
			min-width: 230px
			min-height: 320px
			background-color: $accent-color
			margin-bottom: 25px
			border-radius: 4px
			overflow: hidden
			z-index: 1

			&:hover
				.features-item-image
					transition: all .2s ease-in-out
					transform: scale(1.1)
					&::before
						opacity: .3
					.fa
						opacity: .5
				.features-content-bottom
					transition: bottom .3s ease-in-out
					bottom: -34px

			.features-item-image
				border-radius: 4px
				min-height: 320px
				background-size: cover
				background-position: center
				background-repeat: no-repeat
				position: relative
				display: block
				margin: 0 auto
				transition: all .2s ease-in-out
				&::before
					content: ''
					width: 100%
					height: 100%
					position: absolute
					left: 0
					top: 0
					opacity: .0
					transition: all .5s ease
					background-color: $accent-color
					border-radius: 4px

				.fa
					position: absolute
					top: 35%
					left: 50%
					margin-left: -10px
					margin-right: -10px
					font-size: em(30px)
					color: #fff
					opacity: 0
					transition: all .5s ease
					display: none

			.features-content-top
				position: absolute
				top: 18px
				left: 18px
				.features-icon
					width: 45px
					height: 45px
					background-color: #fff
					border-radius: 10em
					display: inline-block
					transition: all .5s ease
					.i-tag
						position: absolute
						+icon(tag,png)
						width: 31px
						height: 22px
						top: 46%
						left: 45%
						transform: translate(-46%,-45%)
						display: inline-block
				.features-title
					position: absolute
					padding: 9px 12px 11px
					line-height: 1
					top: 0
					left: 56px
					min-width: 156px
					display: inline-block
					font-family: "Open Sans", sans-serif
					font-weight: 700
					background-color: $accent-color
					border-radius: 4px
					text-align: left
					letter-spacing: 1px
					color: #fff

			.features-content-bottom
				position: absolute
				padding: 23px 30px
				min-height: 106px
				left: 0
				bottom: -100px
				background-color: #e9e9e9
				width: 100%
				@include border-bottom-radius(4px)
				transition: all .3s ease-in-out
				&::after
					+arrow(top, 1.95em, 1.15em, #e9e9e9)
					position: absolute
					margin-top: -1em
					top: 0
					left: 72px
					content: ''
				h3
					font-size: em(20px)
					font-family: "Open Sans", sans-serif
					font-weight: 700
					color: #292929
					text-transform: none
					margin-top: -4px
					margin-left: 28px
					&::before
						content: ''
						width: 100%
						height: 100%
						position: absolute
						top: 23px
						left: 28px
						+icon(ribbon,png)
						width: 15px
						height: 18px
				p
					font-size: em(15px)
					line-height: em(28px)
					font-family: 'Open Sans', sans-serif
					font-weight: 300
					max-width: 485px
					min-height: 100%
					word-break: break-all
					white-space: normal
					overflow: hidden
					color: #645f5f
					margin: 0 0 2em

	.features-slider-wrap
	  position: relative
	  .slider-nav-container
	    position: relative

	.features-slider-wrap
	  display: none

	.owl-carousel
	  .owl-wrapper, .slide-wrap
	    -webkit-backface-visibility: hidden
	    -moz-backface-visibility: hidden
	    -ms-backface-visibility: hidden
	    -webkit-transform: translate3d(0, 0, 0)
	    -moz-transform: translate3d(0, 0, 0)
	    -ms-transform: translate3d(0, 0, 0)

	.owl-dot
		border: 1px solid #d2d2d2
		&.active
			border: none!important

	.slider-features
	  top: 0
	  width: 100%
	  overflow: hidden
	  .owl-dots
	    position: absolute
	    bottom: 50px
	    width: 100%
	    text-align: center
	    .owl-dot
	      display: inline-block
	      margin: 0 3px
	      width: 14px
	      height: 14px
	      background-color: none
	      -webkit-border-radius: 10em
	      border-radius: 10em
	      cursor: pointer
	      -webkit-transition: background-color .25s ease
	      transition: background-color .25s ease
	      &.active
	        background-color: $accent-color
					border: none!important
					&:hover
						transition: background-color 1s

	  .slide-wrap
	    float: left

	  .slide
	    color: #fff
	    padding-bottom: 120px
	    position: relative
	    padding-top: 0

	padding: 20px 0

.feature-mnu-wrap
	text-align: center
	.mobile-feature-mnu
		padding-bottom: 25px
		cursor: pointer
		text-align: center
		.fa
			font-size: em(45px)
			color: $accent-color
			&.fa-sort-up
				position: relative
				top: 21px

		.mnu-toggle-text
			font-size: em(27px)
			font-family: "Exo 2", sans-serif
			margin-right: 10px

	.feature-mnu
		font-size: em(17px)
		font-family: "Exo 2", sans-serif
		display: inline-block
		text-align: center
		margin-bottom: 50px
		.justify
			+icon(menu,png)
			width: 24px
			height: 26px
			display: inline-block
			vertical-align: middle
		li
			position: relative
			line-height: 54px
			padding: 0 25px
			border-right: 1px solid #dbd8d8
			margin: 0

			&:first-child
				@include border-left-radius(4px)

			&:last-child
				@include border-right-radius(4px)
				border-right: none
			&:hover
				background-color: #e9e9e9
				transition: background-color 1s
				line-height: 54px
			&.active
				+button-bg($accent-color)
				text-decoration: none
				&:hover
					color: #e4e0e0
				a
					color: #fff
			a
				position: relative
				font-size: em(18px)
				text-transform: uppercase
				transition: all .5s ease
		ul
			@extend .ulmnu
		a
			text-decoration: none
			color: #ababab

.teamsec
	position: relative
	padding-top: 10px
	background-color: #f6f6f6!important
	&::after
		+arrow(top, 2.4em, 1.75em, #f6f6f6)
		position: absolute
		margin-top: -1em
		top: 0
		left: 50%
		content: ''
		transform: translate(-50%,-41%)
	.section-head
		margin-bottom: 50px
		p
			margin-top: 50px
			text-align: center
			font-size: em(18px)
			font-family: 'Open Sans',sans-serif
			line-height: em(28px)
			color: #a1a1a1
			margin: 0
		h2
			font-size: em(44px)
			font-family: "Exo 2", sans-serif
			font-weight: 700
			text-align: center
			text-transform: none
			letter-spacing: 2px
			color: #292929
			position: relative
			&::before
				position: absolute
				content: ''
				height: 4px
				background-color: #fefefe
				width: 365px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			&::after
				position: absolute
				content: ''
				height: 4px
				background-color: $accent-color
				width: 45px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			span
				color: $accent-color

	.section-content
		.team-item
			position: relative
			max-width: 220px
			max-height: 300px
			background-color: #e9e9e9
			border-radius: 4px
			margin-bottom: 25px
			overflow: hidden
			&:hover
				.team-item-image
					transition: all .2s ease-in-out
					@include filter(grayscale(0%))
					//min-height: 220px
					&::before
						opacity: 1.1
					&::after
						opacity: 1.1
				.team-overlay-buttons
					opacity: 1.1
					.team-overlay-buttons-icon
						margin: 0 1px
				h3
					transition: all .2s ease-in-out
					color: $accent-color
				p
					color: #444

			.team-item-image
				@include border-top-radius(4px)
				@include filter(grayscale(100%))
				min-height: 210px
				background-color: $accent-color
				background-size: cover
				background-position: center
				background-repeat: no-repeat
				position: relative
				display: block
				margin: 0 auto
				transition: all .2s ease-in-out
				&::before
					content: ''
					width: 100%
					height: 100%
					position: absolute
					left: 0
					top: 0
					opacity: .0
					transition: all .5s ease
					background-color: $accent-color
					@include border-top-radius(4px)
				&::after
					+arrow(top, 1.95em, 1.15em, #e9e9e9)
					position: absolute
					margin-top: -1em
					top: 100%
					left: 50%
					bottom: 0
					content: ''
					transform: translate(-50%, 0)
					opacity: .0
					transition: all .2s ease-in-out
				img
					width: 100%
					margin: 0 auto

			.team-overlay-buttons
				position: absolute
				width: 100%
				top: 40%
				left: 50%
				line-height: 50px
				transform: translate(-50%, 0)
				opacity: .0
				transition: all .5s ease
				text-align: center
				.i-facebook
					+icon(facebook,png)
					background-size: 20px
					width: 20px
					height: 20px
					display: inline-block
					vertical-align: middle

				.i-twitter
					+icon(twitter,png)
					background-size: 20px
					width: 20px
					height: 20px
					display: inline-block
					vertical-align: middle

				.team-overlay-buttons-icon
					width: 45px
					height: 45px
					line-height: 45px
					background-color: #e9e9e9
					border-radius: 10em
					display: inline-block
					transition: all .5s ease
					margin: 0 12px

			h3
				font-size: em(20px)
				font-family: "Exo 2", sans-serif
				font-weight: 700
				color: #292929
				text-transform: none
				text-align: center
				transition: all .2s ease-in-out
			p
				font-size: em(15px)
				line-height: em(28px)
				font-family: 'Exo 2', sans-serif
				font-weight: 700
				text-align: center
				min-height: 100%
				word-break: break-all
				white-space: normal
				overflow: hidden
				color: $accent-color
				margin-top: -14px
				transition: all .2s ease-in-out

  @extend .section-bottom

.joinsec
	position: relative
	min-height: 580px
	padding-top: 20px
	background-color: #878787
	.section-content
		a
			text-align: center
			text-decoration: none
			color: #fff!important
			font-weight: normal
			margin-top: 20px
			&.btn
				font-family: 'Exo 2', sans-serif
				font-weight: normal!important
				min-width: 242px
				height: auto
				+button-bg($accent-color)
				padding: 8px 0 10px
		h1
			font-size: em(44px)
			font-family: "Exo 2", sans-serif
			font-weight: 700
			letter-spacing: 2px
			text-transform: none
			span
				color: $accent-color

		.join-right
			.join-notice
				p
					font-size: em(16px)
					font-family: 'Open Sans',sans-serif
					font-weight: 400
					line-height: 24px
					color: #fff
				a
					display: inline-block!important
					&.btn
						font-family: 'Open Sans', sans-serif
						font-weight: normal!important
						font-size: em(15px)
						min-width: 210px
						height: auto
						+button-bg($accent-color)
						padding: 8px 0 10px 28px
						margin-right: 9px
						&.fb
							position: relative
							+button-bg(#2f4b93)
							border-bottom: 4px solid #153179
							&::after
								content: ''
								position: absolute
								top: 8px
								left: 15px
								+icon(join-fb,png)
								width: 31px
								height: 30px
								display: inline-block
								vertical-align: middle
						&.tw
							position: relative
							+button-bg(#00bdef)
							border-bottom: 4px solid #00a3d5
							&::after
								content: ''
								position: absolute
								top: 8px
								left: 15px
								+icon(join-tw,png)
								width: 31px
								height: 30px
								display: inline-block
								vertical-align: middle


		.join-left
			position: relative
			min-height: 250px
			display: inline-block
			background-color: #f6f6f6
			border-radius: 4px
			&::after
				+arrow(top, 1.95em, 1.15em, #f6f6f6)
				position: absolute
				margin-top: -1.0em
				top: 0
				left: 17%
				content: ''
				transform: translate(-50%, 0)
				transition: all .2s ease-in-out
			.join-notice
				padding: 1px 50px
				li
					position: relative
					padding-left: 5px
					margin-bottom: 50px
					&::before
						content: "\f111"
						font-family: FontAwesome
						color: $accent-color
						display: block
						font-size: .6em
						position: absolute
						top: 3px
						left: -25px
					p
						font-size: em(16px)
						font-family: 'Open Sans',sans-serif
						font-weight: 400
						line-height: 24px
						color: #292929

			ul
				list-style-type: none

	@extend .section-bottom

.brandsec
	background-color: #f6f6f6!important
	.section-head
		margin-bottom: 50px
		p
			margin-top: 50px
			text-align: center
			font-size: em(18px)
			font-family: 'Open Sans',sans-serif
			line-height: em(28px)
			color: #a1a1a1
			margin: 0
		h2
			font-size: em(44px)
			font-family: "Exo 2", sans-serif
			font-weight: 700
			text-align: center
			text-transform: none
			letter-spacing: 2px
			color: #292929
			position: relative
			&::before
				position: absolute
				content: ''
				height: 4px
				background-color: #fefefe
				width: 365px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			&::after
				position: absolute
				content: ''
				height: 4px
				background-color: $accent-color
				width: 45px
				bottom: -15px
				left: 50%
				transform: translate(-50%, 0)
			span
				color: $accent-color

	.slider-brand
	  top: 0
	  width: 100%
	  overflow: hidden

	  .slide-wrap
	    float: left

	  .slide
	    color: #fff
	    padding-bottom: 70px
	    position: relative
	    padding-top: 0
			.carousl-brand
				@include filter(grayscale(100%))
				opacity: .8
				transition: all .5s ease
				&:hover
					@include filter(grayscale(0%))
					opacity: .9
				a, span
			display: block
			text-align: center
			img
				max-width: 70%
				max-height: 40px
				display: inline-block


.contactsec
	.contact-info
		position: relative
		padding: 39px 70px 30px
		min-height: 622px
		background-color: #202020!important
		color: #fff
		&::after
			+arrow(right, 1.95em, 1.35em, #202020)
			position: absolute
			margin-top: -.75em
			top: 100px
			right: -21px
			content: ''
			z-index: 1
		h2
			font-size: em(44px)
			font-family: "Exo 2", sans-serif
			font-weight: 700
			text-transform: none
			letter-spacing: 2px
			color: #fff
			span
				color: $accent-color
		.contact-text
			text-align: left
			font-size: em(19px)
			font-family: 'Exo 2',sans-serif
			line-height: em(15px)
			color: #fff
			margin: 16px 0

	.contact-map
		position: relative
		min-height: 510px
		background-color: #bcdfff
		#map-canvas
			min-height: 622px

.main-footer
	position: relative
	min-height: 347px
	background: url(../img/footer-bg.png) no-repeat
	background-size: cover
	background-position: center
	background-color: $accent-color!important
	&::before
		@extend .before
		background-color: $accent-color
		opacity: 0.2

	h3
		font-size: em(30px)
		font-family: "Exo 2", sans-serif
		font-weight: 700
		text-transform: none
		letter-spacing: 2px
		color: #fff
	p
		max-width: 330px
		text-align: left
		font-size: em(16px)
		font-family: 'Open Sans',sans-serif
		line-height: em(28px)
		color: #fff
		display: inline-block
	.footer-social-links
	ul
		list-style-type: none
		margin: 0
		padding: 0
		li
			display: inline-block
			transition: all .3s ease
			a
				img
					max-width: 80%
					@include filter(grayscale(0%))
					display: inline-block
					transition: all .3s ease
			&:hover
				a
					img
						@include filter(grayscale(60%))
						transition: all .3s ease
	.footer-rgt-logo
		position: absolute
		top: 100px
		bottom: 0
		margin-left: 4em
		img
			max-width: 50%
			margin: auto

	.footer-createdby
		position: relative
		padding-top: 35px
		min-height: 97px
		text-align: center
		background-color: #38282c!important
		border-bottom: 3px solid #4a4949
		margin-top: 95px
		&::after
			+arrow(top, 2.4em, 1.75em, #38282c)
			position: absolute
			margin-top: -1em
			top: 0
			left: 50%
			content: ''
			transform: translate(-50%,-41%)
		.footer-text
			font-size: em(16px)
			color: #cdcdcd

.scroll-up
	position: fixed
	bottom: 38px
	right: -120px
	width: 30px
	height: 30px
	border-radius: 4px
	cursor: pointer
	background-color: $accent-color
	text-align: center
	color: #fff
	transition: all .5s ease
	z-index: 5
	.faa	qa
		font-size: 32px
		margin-top: -3px
	&:hover
		opacity: 1
		background-color: $accent-color
	&.active
		right: 10px

//ALWAYS END
@import "media"
